@media screen and (max-width: 600px) 
{
    
    body{
        background-color: rgba(227, 227, 227, 0.957);
        margin: 0px;
    }

    .bar{
        margin-left: 2px;
        margin-top: 3%;
    }

    .bar:hover{
        color: #92000a
    }

    .fa-solid.fa-magnifying-glass.fa-1x{
        margin-left: 40%;
    }
    
    .fa-regular.fa-heart.fa-1x{
        margin-left: 5%;
    }

    #img{
        margin-left: 5%;
    }

    .fa-solid.fa-cart-shopping.fa-1x{
        margin-left: 5%;
        margin-right: 20px;
    }

    #box1{
        margin-right: 2%;
        text-align: right;
    }

    .Drops{
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    #h11{
        text-align: center;
        font-family: Dancing Script;
        font-size: 3em;
        margin-bottom: -10px;
    }

    #img4{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: -60px;
    }

    .gallery{
        background-color: rgb(128, 126, 126);
        text-align: center;
        background-color: transparent;
        margin-top: -80px;
    }

    .gallery .description{
        text-align: center;
        margin-top: -160px;
        color: rgb(0, 0, 0);
    }

    #h22{
        font-family: Dancing Script;
    }

    .gallery img{
        width:150px;
        margin-bottom: 50px;
    }

    #h12{
        color:rgb(0, 0, 0);
        text-align:center; 
        font-family: Dancing Script;
    }

    #h11{
        color:rgb(0, 0, 0);
    }

    #img3{
        width:250px;
        text-align: center;
    }

    .icons{
        text-align: center;
        
    }

    .icons a{
        text-decoration: none;
    }

    .fa-brands.fa-instagram.fa-2x{
        margin-right: 80px;
    }

    .imagess{
        background-color: #a7a7a7;
        text-align: center;
    }

    .description1{
        color:rgb(0, 0, 0);
        margin-top: -35px;
        background-color: #cacaca;
    }

    #h32{
        font-size: 2em;
        margin-left: 5%;
        font-family: dancing Script;
    }

    #h33{
        margin-top: -20px;
        margin-left: 5% ;
        font-size: 1.6em;
    }

    #h21{
        color: #92000a;
        margin-left: 5%;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    #h41{
        float: left;
        margin-left : 25%;
        margin-top: -10%;
        text-decoration: line-through;
        color:rgb(0, 0, 0);
    }

    .dropdown{
        display:inline-block;
    }
    #size{
        font-size: 20px;
        width:80px;
        border: none;
        background-color: rgb(66, 66, 66);
        color:white;
        padding: 10px 15px;
        margin-left: 25%;
    }

    .dropdown a{
        display:block;
        color:white;
        text-decoration: none;
        padding:10px 15px;
    }

    .dropdown .content{
        display:none;
        margin-left: 5%;
        background-color: rgb(119, 119, 119);
        text-align: center;
        position:absolute;
        min-width:80px;
    }

    .dropdown:hover .content{
        display:block;
    }
}