body{background-image: url(Images/KZfp1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
}
.h1{
    text-align: center;
    font-size: 3em;
    font-family: Dancing Script;
    color: white;
}

#input2{
    font-size: 20px;
    width: 400px;
    margin-left: 320px;
    text-align: left;
    background-color: transparent;
    color: #92000a;
    padding: 10px 5px;
    box-shadow: 3px 3px 3px black;
    border-color: rgb(0, 0, 0);
}


#label1{
    float:center;
    float: center;
    font-size: 30px;
    color: white;
}

#input1{
    display: inline-block;
    margin-left: 57%;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: transparent;
    border-color: white;
}

.Money{
    display: inline-block;
    width: 800px;
    height: 450px;
    position: relative;
    top: 0px;
    left: 8%;

}

.icons{
display: block;
}

.icons a{
    text-decoration: none
}

.fa-brands.fa-instagram.fa-2x{
    color: rgb(0, 0, 0);
}
.fa-brands.fa-instagram.fa-2x:hover{
    color: #92000a;
}

.fa-brands.fa-tiktok.fa-2x{
    color: rgb(0, 0, 0);
}
.fa-brands.fa-tiktok.fa-2x:hover{
    color:#92000a;
}

#h41{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    margin-bottom: 200px;
}
#h41:hover{
    color:#92000a;
}

#h12{
    font-size: 4em;
    text-align: center;
    color: White;
    font-family:Dancing Script;
}

@media screen and (max-width: 600px) 
{   

    #img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .h1{
        width: 100%;
        text-align: center;
        font-size: 2em;
        font-family: Dai Banasil;
        color: rgb(0, 0, 0);
    }

    #input2{
        font-size: 25px;
        width: 900%;
        margin-left: -50%;
        text-align: left;
        background-color: transparent;
        color: #92000a;
        padding: 10px 5px;
        box-shadow: 3px 3px 3px #000000;
        border-color: #000000;
    }

    #input1{
        display: inline-block;
        margin-left: 250%;
        font-size: 20px;
        padding: 15px;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border-color: rgb(0, 0, 0);
    }

    #name{
        color:black;
    }
    
    .Money{
        display: inline-block;
        width: 10%;
        height: 450px;
        top: 0px;
    }
    
    .icons{
    margin-top: 120px;
    margin-left: 15%; 
    margin-left: 50%;
    }
    
    .icons a{
        text-decoration: none
    }
    
    .fa-brands.fa-instagram.fa-1x{
        color: #000000;
    }
    .fa-brands.fa-instagram.fa-2x:hover{
        color: #92000a;
    }
    
    .fa-brands.fa-tiktok.fa-2x{
        color: #000000;
        margin-left: 35%;
    }
    .fa-brands.fa-tiktok.fa-2x:hover{
        color:#92000a;
    }
    
    #h41{
        color: #000000;
        text-decoration: none;
        text-align: center;

    }
    #h41:hover{
        color:#92000a;
    }
}