@media screen and (max-width: 600px) 
{
    body{
        background-image: url(Images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        margin: 0px;
    }
    
    #img{
        margin-left: 100%;
    }

    .navbar ul{
        list-style-type: none;
        background-color: rgb(150, 145, 145);
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        width: 1200px;    
        display: block; 
        text-align: right;
    }

    .navbar a{
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 15px;
        display: block;
        font-size: 40px;
        text-align: right;
        margin-left: 50px;
    }

    .navbar a:hover{
        background-color: rgb(109, 17, 17);
    }

    .navbar li{
        float:left;
    }

    .navbar:active{
        background-color: rgb(91, 18, 18);
    }

    .icons{
       display: inline-block;
       
    }
    .fa-regular.fa-user.fa-2x{
        color: white;
    }

    .Tshirts{
        text-align: center;
        display:inline-block;
        font-size: 50px;
        border-width: 600px;
        text-align: left;
        margin-left: 260px;
        background-color: rgb(70, 69, 69);
    }

    .WhiteT{
        display:inline-block;
    }

    .BlackT{
        display:inline-block;
    }

    #h21{
        color: white;
    }

    #h31{
        color:white;
    }

    

}