@media screen and (max-width: 600px) 
{
    body{background-image: url(Images/KZ\ fp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size:cover;
    }

    .button{
        display: inline-block;
        margin-left:  10%;
        margin-top: 110%;
    }
    #button{
        font-size: 25px;
        width: 300px;
        padding: 10px 15px;
        background-color: transparent;
        color: black;
        border-style: solid;
    }

    #button:hover{
        background-color: #92000a;
        color: white;
    }

    .button2{
        display: inline-block;
        margin-left:  10%;
        margin-top: 5%;
    }
    #button2{
        font-size: 25px;
        width: 300px;
        padding: 10px 15px;
        background-color: transparent;
        color: black;
        border-style: solid;
    }

    #button2:hover{
        background-color: #92000a;
        color: white;
    }

    .icons{
        text-align: center;
        margin-top: 240px;
    }

    .icons a{
        text-decoration: none;
    }

    .icons:hover{
        color: #92000a;
    }

    .fa-brands.fa-instagram.fa-2x{
        margin-right: 25%;
    }
}