@media screen and (max-width: 600px) 
{
    body{
        background-image: url(Images/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        margin: 0px;
    }
    
    #img{
        margin-left: 100%;
    }

    .navbar ul{
        list-style-type: none;
        background-color: black;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        width: 1200px;
    }

    .navbar a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align: center;
        font-size: 40px;
    }

    .navbar a:hover{
        background-color: rgb(109, 17, 17);
    }

    .navbar li{
        float:left;
    }

    .navbar:active{
        background-color: rgb(91, 18, 18);
    }

    .icons{
        display: inline-block;
        margin-left: 100px;
    }
    .fa-regular.fa-user.fa-5x{
        color: white;
    }
}